<section>
    <h3>About Myself</h3>
    
    <div class="face-lockup">
        
        <div class="face-img"></div>
        
        <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
        <div class="icon-mouse">{% include icons/icon-browser.html %}</div>
        <div class="icon-browser">{% include icons/icon-mouse.html %}</div>
        <div class="icon-video">{% include icons/icon-video.html %}</div>
        
    </div>
    
    <div class="blurb">
        <p><strong>Lorem ipsum dolor amet cray kickstarter </strong>craft beer salvia PBR&B af chicharrones woke polaroid blog sint stumptown pinterest. Before they sold out health goth gentrify four dollar toast YOLO activated charcoal bushwick everyday carry twee quinoa PBR&B flannel ipsum. Lo-fi poutine pinterest chia godard raw denim. Ad keytar blue bottle, af kombucha sriracha lyft voluptate craft beer commodo tacos man bun 90's.
    
    Oh. You need a little dummy text for your mockup? How quaint.
    
    I bet you’re still using Bootstrap too…</p>
    </div>
</section>