<footer>
      <div class="address">
        <h2>Location</h2>
        <p>Address: 3031 Tish Way</p>
        <p>110 Plaza West</p>
        <p>San Jose CA 95128</p>
        <p>Phone: (408) 320 - 7643</p>
        <p>Email: info@lgmarketing.me</p>
      </div>
      <div class="hours">
        <h2>Hours</h2>
        <p>Mon - Fri: 7am - 9pm</p>
        <p>Saturday: 8am - 5pm</p>
        <p>Sunday: 8am - 3pm</p>
      </div>
      <div class="social-media">
        <ul>
          <li><a target="_blank" href="https://www.w3schools.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="https://www.facebook.com/lgmkting/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="https://www.w3schools.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
        <p class="copyright">&copy; 2018 by LG Marketing LLC</p>
      </div>
</footer>











