<section class="goals">
    <div class="goal-item create">
        <h2>Create</h2>
        <img src="./assets/img/create_icon_lg.svg"></img>
        <p>After brainstorming with our small-but-mighty team, 
        we create compelling marketing content and develop programs with your business 
        goals and objectives specifically in mind.</p>
    </div>
    <div class="goal-item elevate">
        <h2>Elevate</h2>
        <img src="./assets/img/elevate_icon_lg.svg"></img>
        <p>Working closely with you and your teams, we evaluate existing initiatives 
        and marketing materials, make recommendations for enhancements and execute with 
        excellence. </p>
    </div>
    <div class="goal-item engage">
        <h2>Engage</h2>
        <img src="./assets/img/engage_icon_lg.svg"></img>
        <p>Using your business insights, we craft programs that connect you with your customers, 
        and also build relationships between your customers and your brand.</p>
    </div>
</section>