<header class="parallax">
    <div class="parallax-content">
        <div class="title">
            <img src="../../assets/img/LG_Icon.svg" alt="" class="icon">
            <img src="../../assets/img/Brand2.svg" alt="" class="brand">
            <!--<div class="item icon"></div>-->
            <!--<div class="item brand"></div>-->
            <!--<div class="title2">-->
            <!--    <h1 class="item brand1">Marketing</h1>-->
            <!--    <h2 class="item brand2">Consulting</h2>-->
            <!--</div>-->
        </div>
        <hr>
        <div class="item motto motto2">Create. Elevate. Engage</div>
    </div>
    
    <a href="#contact-section" class="action scroll">Get in touch!</a>
</header>