<section class="mission">
   <h1 class="mission-title">What We Do</h1>
   <hr>
   <p class="mission-description"><strong>LG Marketing</strong>, LLC is a boutique consulting firm offering a comprehensive list of full-scale marketing services. 
   We serve as an extension to your internal team while driving forward progress on your initiatives. 
   We work closely with you to create successful programs, elevate your marketing efforts and connect with your customers to increase engagement.  
   </p>
    
</section>

