<section class="test">
     
<div class="main">
    <div class="portfolio">
        <div class="item large one">
           <h1 class="one-title">Who We Are</h1>
           <hr>
            <p>The LG Marketing team consists of professionals with 30+ years of combined 
            experience in medical device and practice marketing.  By aligning with premiere talent 
            in Silicon Valley we are able to provide our clients with a wide range of services and most 
            importantly unparalleled marketing support.</p> 
        </div>
        <div class="item small two"></div>
        <div class="item small three"></div>
        <div class="item large four"></div>
        <div class="item large five">
            <h1 class="mission-title">What We Do</h1>
            <hr>
            <p class="mission-description"><strong>LG Marketing</strong>, LLC is a boutique consulting firm offering a comprehensive list of full-scale marketing services. 
            We serve as an extension to your internal team while driving forward progress on your initiatives. 
            We work closely with you to create successful programs, elevate your marketing efforts and connect with your customers to increase engagement.  
            </p>
        </div>
    </div>
</div>   
</section>

