---
---

html, body {
    max-width: 1281px;
    overflow-x: hidden;
    background: #EBECE9;
    margin: 0 auto;
    //width: 100%;
    // height: 100%;
    //padding: 0 50px;
    // max-width:1700px;
    // @extend: %center;
}

@import '1-tools/-tools-dir';
@import '2-base/-base-dir';
@import "3-sections/-sections-dir";