.test{
    //display: flex;
    //flex-wrap: wrap;
    //height: 1000px;
    //clear: both;
    //@extend %center;
}

.main{
    //max-width: 1700px;
    //margin: 50px;
    //flex: 1 1 80%;
    //min-height: 80vh;
    //background: green;
    
    .portfolio{
        display: grid;
        //height: 900px;
        //grid-template-rows: repeat(4, 1fr);
        //grid-template-rows: repeat(3, 1fr);
        //grid-template-columns: repeat(4,1fr);
        grid-auto-rows: minmax(400px, auto);
        //grid-gap: 20px;
        
   
    
        .item{
            //background: pink;
            //color: blue;
            display: flex;
            justify-content: center;
            align-tems: center;
            
            &.large{
                //grid-column: span 2;
                //grid-row: span 2;
            }
            
            &.small{
               // grid-row: span 2;
            }
        }
        
        .one{
            display: flex;
            align-items: center;
            justify-content: center;
            display: inline;
            //vertical-align: top;
            background: rgb(255,255,255);
            //max-width: 620px;
            padding: 20px;
            //margin: 50px auto;
            //font-size: 24px;
            //text-align: center;
            //font-weight: 300;
            line-height: 1.6;
            
            h1{
                font-family: $font-motto;
                font-weight: lighter;
                font-size: 26px;
                text-align: center;
                color: #4FC2AA;
                margin: 0;
            }
            hr{
                width: 50px;
                display: block;
                border: 3px solid #4FC2AA;
                border-radius: 3px;
            }
            p{
                text-align: center;
                color: #7F7F7F;
                font-size: 18px;
                font-weight: lighter;
            }
        }
        
        .two{
            // background: url(../../assets/img/lg_about_2.1.jpg);
            // background-size: cover;
            display: none;
        }
        .three{
            // background: url(../../assets/img/lg_about_3.jpg);
            // background-size: cover;
            display: none;
        }
        
        .four{
            background: url(../../assets/img/lg_about.jpg) center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0 20%;
        }
        
        .five{
            background: #4FC2AA;
            display: inline;
            //max-width: 620px;
            padding: 20px;
            //margin: 50px auto;
            font-size: 18px;
            text-align: center;
            //font-weight: 300;
            line-height: 1.6;
            
            h1{
                font-family: $font-motto;
                font-weight: lighter;
                font-size: 26px;
                color: white;
                margin: 0;
            }
            p{
                color: white;
                font-weight: lighter;
            }
            
            hr{
                width: 50px;
                display: block;
                border: 3px solid white;
                border-radius: 3px;
            }
    
        }
    }
}

@media (min-width: 700px){
// .portfolio{
//         display: grid;
//         height: 900px;
//         //grid-template-rows: repeat(4, 1fr);
//         grid-template-rows: 0.7fr 0.7fr 1fr 1fr;
//         grid-template-columns: repeat(4,1fr);
//         //grid-auto-rows: minmax(400px, auto);
//         //grid-gap: 20px
//     }
    
    .main{
        max-width: 1700px;
        margin: 50px;
        //flex: 1 1 80%;
        //min-height: 80vh;
        //background: green;
        
        .portfolio{
            display: grid;
            height: 900px;
            //grid-template-rows: repeat(4, 1fr);
            grid-template-rows: 0.7fr 0.7fr 1fr 1fr;
            grid-template-columns: repeat(4,1fr);
            //grid-auto-rows: minmax(400px, auto);
            //grid-gap: 20px
            
       
        
            .item{
                background: pink;
                color: blue;
                display: flex;
                justify-content: center;
                align-tems: center;
                
                &.large{
                    grid-column: span 2;
                    grid-row: span 2;
                }
                
                &.small{
                    grid-row: span 2;
                }
            }
            
            .one{
                display: flex;
                align-items: center;
                justify-content: center;
                display: inline;
                //vertical-align: top;
                background: rgb(255,255,255);
                //max-width: 620px;
                padding: 50px;
                //margin: 50px auto;
                //font-size: 24px;
                //text-align: center;
                //font-weight: 300;
                line-height: 1.6;
                
                h1{
                    font-family: $font-motto;
                    font-weight: lighter;
                    text-align: center;
                    color: #4FC2AA;
                    margin: 0;
                }
                hr{
                    width: 50px;
                    display: block;
                    border: 3px solid #4FC2AA;
                    border-radius: 3px;
                }
                p{
                    text-align: center;
                    color: #7F7F7F;
                    font-size: 18px;
                    font-weight: lighter;
                }
            }
            
            .two{
                background: url(../../assets/img/lg_about_2.1.jpg);
                background-size: cover;
            }
            .three{
                background: url(../../assets/img/lg_about_3.jpg);
                background-size: cover;
            }
            
            .four{
                background: url(../../assets/img/lg_about.jpg) center center;
                background-size: cover;
                background-position: 0 35%;
            }
            
            .five{
                background: #4FC2AA;
                display: inline;
                //max-width: 620px;
                padding: 50px;
                //margin: 50px auto;
                font-size: 18px;
                text-align: center;
                //font-weight: 300;
                line-height: 1.6;
                
                h1{
                    font-family: $font-motto;
                    font-weight: lighter;
                    color: white;
                    margin: 0;
                }
                p{
                    color: white;
                    font-weight: lighter;
                }
                
                hr{
                    width: 50px;
                    display: block;
                    border: 3px solid white;
                    border-radius: 3px;
                }
        
            }
        }
    }
    
}



